body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#board {
  background-color: black;
  border-top: 5px solid lime;
  border-left: 5px solid lime;
  border-right: 5px solid lime;
}
