body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: #00021f;
}

#board {
  border: 5px solid lime;
}

h1 {
  color: transparent;
  background: linear-gradient(to right, rgba(0, 0, 135, 1), rgba(92, 0, 207, 1));
  background-clip: text;
  font-family: 'Tiny5';
  font-style: italic;
}

button {
  background-color: #00021f;
}